<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="com.deepak.timesheet.login.model.User"/>
        <mapping class="com.deepak.timesheet.login.model.UserProfile"/>
        <mapping class="com.deepak.timesheet.model.CountryCity"/>
        <mapping class="com.deepak.timesheet.model.Employee"/>
        <mapping class="com.deepak.timesheet.model.Project"/>
        <mapping class="com.deepak.timesheet.model.Task"/>
        <mapping class="com.deepak.timesheet.model.TimeSheet"/>
        <mapping class="com.deepak.timesheet.model.ProjectMap"/>
    </session-factory>
</hibernate-configuration>